.dialogClosed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transform: translateY(-100%);
  transition: 0.5s all;
  max-height: 100vh;
  overflow-y: scroll;
}

.dialogOpen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: 0.5s all;
  max-height: 100vh;
  overflow-y: scroll;
}

.button {
  background: transparent;
  font-family: unset;
  font-size: unset;
  padding: unset;
  margin: unset;
  border: none;
}

.inner {
  background-color: white;
  color: #2A2828;
  width: 100%;
  padding: 2rem;
  /* Min-height based on the decoration height + padding */
  min-height: calc(65px + 4rem);
}

.decoration {
  position: fixed;
  width: 12px;
  height: 65px;
  left: 0;
  background-color: #E9FD57;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
  background: transparent;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0.5rem 1rem;
  float: right;
}

.overlayOpen {
  position: absolute;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.5s background;
}

.overlayClosed {
  position: absolute;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: -99;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  transition: 0.5s all;
}

.inner h2 {
  font-family: Museo;
  font-weight: normal;
  font-size: 1.75rem;
  margin-top: 0;
}

.inner h3 {
  font-size: 1.35rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.inner p, .inner h3 {
  font-family: Museo Sans;
}
