.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainSection {
  padding: 2rem 1rem 0.5rem;
}

section.header {
  background-color: #2D4E4B;
  color: white;
  padding: 0rem 1rem 0.5rem;
}

.title {
  font-weight: 400;
  font-size: 32px;
  color: #E9FD57;
  margin-bottom: 1rem;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 30px;
}

.breadcrumbs a {
  font-family: 'Museo Sans';
  text-decoration: underline;
}

.breadcrumbs .highlight {
  color: #E9FD57;
}

.address {
  font-family: 'Museo';
  text-decoration: underline;
  font-weight: 400;
  font-size: 20px;
}

.massingsImage {
  position: relative;
  width: 100%;
  height: auto;
}

section.impact {
  border-bottom: 1px solid #AACAC8;
  padding: 2rem 0.5rem 4rem;
  margin: 0 0.5rem;
}

.impactDecoration {
  background-color: #E9FD57;
  width: 135px;
  height: 17px;
}

.impact h2 {
  font-weight: 400;
  font-size: 2rem;
  margin-right: 2rem;
}

.impactCopy {
  margin: 0;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 2rem;
}
