.page {
  background-color: #2D4E4B;
  color: white;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 3rem 1rem 0.5rem;
}

.logo {
  margin-left: -0.5rem;
  margin-bottom: 1rem;
}

.title {
  font-weight: 400;
  font-size: 32px;
  color: #E9FD57;
  margin-bottom: 1rem;
}

.breadcrumbs {
  font-size: 16px;
}

.breadcrumbs a {
  text-decoration: underline;
}

.address {
  font-weight: 400;
  font-size: 20px;
}

.mapSpacer {
  background: white;
}

.description {
  padding: 0 1rem 0.5rem;
}

.descriptionHeader {
  color: #E9FD57;
  font-weight: 400;
  font-size: 1.75rem;
  margin: 1.5rem 0 1.5rem;
}

.description p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
}

.progress {
  padding: 0 1rem 0.5rem;
  background: white;
  color: #2B1F2E;
}

.progress h4 {
  color: #EC6331;
  font-size: 1.75rem;
  font-weight: 400;
  margin: 2rem 0 1rem;
}

.progress a {
  text-decoration: underline;
}

.timeline {
  margin-bottom: 2rem;
}

.solidLine {
  margin-left: 1rem;
  height: 25px;
  border-left: 2px solid #ec6331;
  padding-left: 1.5rem;
}

.point {
  border-radius: 100px;
  border: 7px solid #ec6331;
  display: inline-block;
  height: 21px;
  width: 21px;
  position: absolute;
  top: 0px;
  left: -10px;
}

.progressItem {
  position: relative;
  margin-left: 1rem;
}

.status {
  color: #EC6331;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
  padding-left: 1.5rem;
  line-height: 21px;
}

.statusDetail {
  border-left: 1px dashed #2B1F2E;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 0.25rem;
}
