.container {
  padding: 2rem 0;
  text-align: center;
  font-size: 1.15rem;
}

.headerWrapper {
  position: relative;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.decoration {
  position: absolute;
  width: 12px;
  height: 65px;
  background-color: #E9FD57;
}

.centered {
  margin: 0 auto;
}

.header {
  font-size: 1.75rem;
  font-weight: 400;
  margin-top: 0;
}

.shareIcons {
  display: flex;
  justify-content: center;
}

.shareIcon {
  margin: 0 0.75rem;
}
