.container {
  position: relative;
  padding: 0 1rem;
  text-align: center;
  font-size: 1.15rem;
}

.centered {
  margin: 0 auto;
}

.header {
  font-size: 1.75rem;
  font-weight: 400;
  margin-top: 0;
}

.shareIcons {
  display: flex;
  justify-content: center;
}

.shareIcon {
  margin: 0 0.75rem;
}
